.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/slide-1.jpg);
  height: 70vh;
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/slide-2.jpg);
  height: 70vh;
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(image/slide-3.jpg);
  height: 70vh;
}
